<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frame.wangyu.retrofitframe" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".WTApplication">
        <receiver android:name="com.frame.wangyu.retrofitframe.common.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="notification_cancelled"/>
                <action android:name="notification_clicked"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
